
@use '../util';

header {

    .header__nav {
        display: flex;
        overflow: hidden;

        @include util.breakpoint (medium) {
            background: var(--primary-color);
        };
    
        .header__logo {
            flex: 1;
            display: flex;
    
            position: relative;
            padding: 1.25rem;

            @include util.breakpoint (small) {
                padding-left: 0;
            };

            h4 {
                padding-left: 1.875rem;
                color: var(--color-white);
                color: #FFF;
            }

            &-overlay {
                position: absolute;
                inset: 0;
                width: 100%;

                background-color: var(--primary-color);
                z-index: -1;
            };
        };

        .header__menu,
        .header__menu-mobile {
            padding: 1.25rem;

            flex: 1.235;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4rem;

            list-style: none;
        }

        .header__menu {
            li {
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.25rem;
                text-transform: uppercase;
                font-family: util.$jakarta;
                color: var(--secondary-color);
                cursor: pointer;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: contain;
                }
            }

            @include util.breakpoint (medium) {
                display: none;
            }
        }

        .header__menu-mobile {
            display: none;
            gap: 1.25rem;

            position: relative;

            @include util.breakpoint (medium) {
                display: flex;
            }
        }
    };
}
