
@use '../util';

@include util.breakpoint (xlarge) {
    .hero {
        flex-direction: column;
    }

    .hero-image img {
        width: 100%;

        transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
    }
}

@include util.breakpoint (small) {
    .hero-image h2 {
        font-size: 70px;
        line-height: 90px;
    }
}

@include util.breakpoint (xsmall) {
    .hero-image h2 {
        font-size: 40px;
        line-height: 60px;
    }
    
    .hero-content-info {
        padding: 32px;
    }
    
    .hero-content-info h1 {
        font-size: 60px;
    }
    
    .hero-content-info p {
        margin: 32px 0;
    }
    
    .hero-content__buttons {
        margin: 41px 0;
    }
    
    .hero-content__testimonial {
        padding: 32px;
    }
}