@use '../util';

.subscription {
    padding: 4rem;

    background-color: var(--primary-color);
    background-image: url("../../assets/subscribe_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    flex-direction: column;
    overflow: hidden;

    @include util.breakpoint(xsmall) {
        padding: 4rem 2rem;
    };

    h2 {
        font-size: 5.5rem;
        font-weight: 600;
        line-height: 7.6875rem;
        color: var(--color-white);
        text-align: center;

        @include util.breakpoint (xsmall) {
            font-size: 68px;
            line-height: 100px;
        };
    };

    p {
        font-size: 1.125rem;
        font-weight: 300;
        font-family: util.$jakarta;
        line-height: 2.25rem;
        margin-top: 2rem;
        color: #FFFC;
    };

    &__form {
        min-width: 30rem;
        margin-top: 2.5rem;
        padding: .875rem .875rem .875rem 1.5rem;

        display: flex;
        gap: .625rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2.875rem;

        @include util.breakpoint (xsmall) {
            flex-direction: column;
            gap: 1.25rem;
        
            min-width: 100%;
            border-radius: 1.25rem;
            padding: 0;
        
            border: none;
        };

        ::placeholder {
            color: var(--color-white);
            font-family: util.$jakarta;
            opacity: .5;
        };

        input {
            flex: 1;
            font-family: util.$jakarta;
            font-size: 1rem;
            color: var(--color-white);
            opacity: .5;
            background: transparent;
            border: none;
            outline: none;

            @include util.breakpoint (xsmall) {
                min-height: 3.125rem;
    
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: .625rem 1.25rem;
                border-radius: 1.875rem;
            };
        };

        button {
            padding: 1.25rem;
            min-width: 11.25rem;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            font-family: util.$jakarta;
            color: var(--color-white);
            background-color: var(--black-400);

            border-radius: 2.875rem;
            border: none;
            outline: none;

            cursor: pointer;

            @include util.breakpoint (xsmall) {
                min-width: 100%;
            };
        };
    };
};
