@use '../util';

.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__content {
        padding: 2rem 4rem;

            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include util.breakpoint (xsmall) {
                padding: 2rem;
            };

            .trending__list {
                list-style: none;
                flex-wrap: wrap;
                gap: 1.25rem;

                li {
                    flex: 1;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .75rem;

                    min-width: 7.5rem;

                    .trending__icon {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        background-color: var(--primary-color);

                        img {
                            width: 50%;
                            height: 50%;
                            object-fit: contain;
                        };
                    };

                    p {
                        flex: 1;
                        font-size: 1rem;
                        font-weight: 500;
                        font-family: util.$jakarta;
                        color: var(--secondary-color);
                    };
                };
            };
    }

    &__image {
        padding: 2rem 4rem;

        flex: 1;
        position: relative;
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include util.breakpoint (large) {
            width: 100%;
            background-size: cover;
        };

        img {
            width: 15.875rem;
            height: 16.25rem;
            object-fit: contain;

            @include util.breakpoint (xsmall) {
                width: 70%;
                height: 70%;
            };
        };

        .trending__arrow {
            position: absolute;
            z-index: 1;

            @include util.breakpoint (large) {
                display: none;
            };
        };
    };

    &-sushi, &-drinks {
        width: 100%;
        min-height: 40rem;

        display: flex;
    };

    &-sushi {
        flex-direction: row;

        @include util.breakpoint (large) {
            flex-direction: column;
        };

        .trending__image {
            background-image: url("../../assets/japanese_sushi.png");

            .trending__arrow {
                &--left {
                    top: 12%;
                    left: -0.1563rem;

                    img {
                        width: auto;
                        height: 100%;
                    };
                };

                &--bottom {
                    right: 12%;
                    bottom: -0.4063rem;

                    img {
                        width: 100%;
                        height: auto;
                    };
                };
            };
        };
    };

    &-discover {
        position: absolute;
        top: 44%;
        left: 44%;

        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background-color: var(--secondary-color);

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;
        cursor: pointer;

        @include util.breakpoint (large) {
            display: none;
        };

        p {
            font-size: 18px;
            font-weight: 500;
            font-family: util.$jakarta;
            text-transform: uppercase;
            color: var(--color-white);
        }
    };

    &-drinks {
        @include util.breakpoint (large) {
            flex-direction: column-reverse;
        };

        .trending__image {
            background-image: url("../../assets/japanese_drinks.png");

            .trending__arrow {
                &--right {
                    bottom: 12%;
                    right: -0.1563rem;

                    img {
                        width: 100%;
                        height: auto;
                    };
                };

                &--top {
                    top: -0.9rem;
                    left: 12%;

                    img {
                        width: auto;
                        height: 100%;
                    };
                };
            };
        };
    }
};

